@charset "UTF-8";
        body {
            margin: 0px;
            padding: 0px;
        }
        
        p {
            margin: 0;
            padding: 0;
        }
        
        .bg-container {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: url(bg3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
            z-index: -2;
        }
        
        .node circle {
            fill: rgb(0, 255, 0);
            stroke: rgb(0, 255, 0);
            stroke-width: 3px;
        }
        
        .node rect {
            fill: rgb(0, 255, 0);
            stroke: rgb(0, 255, 0);
            stroke-width: 2px;
        }
        
        .node text {
            font: 16px sans-serif;
            stroke: rgb(0, 0, 255);
        }
        
        .link {
            fill: none;
            stroke: rgb(0, 255, 0);
            stroke-width: 2px;
        }
        
        #j-tree {
            left: 1%;
            top: 2%;
            height: 100%;
            color: rgb(255, 255, 254);
            font-size: 50px;
            font-weight: bolder;
            text-align: center;
            line-height: 15vh;
            text-shadow: rgb(0, 0, 205) 2px 2px 3px;
            background: rgba(0, 136, 0, 0.5);
            border-radius: 6px;
            opacity: 0.7;
        }
        
        .flex-item1 {
            left: 1vw;
            width: 38.5%;
            height: 60%;
            top: 2%;
            position: absolute;
            border: 3px solid rgb(120, 120, 205);
            opacity: 0.7;
        }
        
        .flex-item2 {
            left: 1vw;
            width: 38.5%;
            height: 15%;
            top: 60%;
            position: absolute;
            opacity: 0.7;
        }
        
        .flex-item3 {
            left: 60vw;
            width: 58%;
            top: 2%;
            height: 15%;
            position: absolute;
            z-index: -2;
        }
        
        .flex-item4 {
            left: 43vw;
            width: 58%;
            top: 2%;
            height: 15%;
            position: absolute;
            z-index: -2;
        }
        
        #titlename {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 50px;
            font-weight: bolder;
            height: 100%;
            line-height: 18vh;
            text-shadow: rgb(34, 34, 34) 2px 2px 3px;
            background: rgb(139, 139, 122);
            border-radius: 6px;
        }
        
        #textbutton {
            font-size: 25px;
            width: 100%;
            text-align: center;
            background: none;
            border-style: none;
            color: white;
            height: 40%;
            top: 70%;
            line-height: 50%;
            position: absolute;
            text-shadow: rgb(34, 34, 34) 2px 2px 3px;
            background: rgb(139, 139, 122);
        }
        
        #button {
            font-size: 25px;
            width: 25%;
            text-align: center;
            background: none;
            border-style: none;
            color: white;
            height: 40%;
            line-height: 50%;
            position: absolute;
            text-shadow: rgb(200, 200, 200) 2px 2px 3px;
            background: rgb(170, 5, 200);
        }
